body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background: #f0f0f0;
  padding: 2px 4px;
  border-radius: 3px;
}

.App {
  text-align: center;
}

revogr-header .rgHeaderCell {
  overflow: visible !important;
  display: flex !important;
  align-items: center !important;
  height: 48px !important;
}

revogr-header .header-rgRow {
  overflow: visible !important;
  height: 48px !important;
  min-height: 48px !important;
}

revogr-header .rgHeaderCell > * {
  overflow: visible !important;
  height: 100% !important;
  min-height: 48px !important;
}

